@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --red: rgb(210 120 120);
  --lightest-blue: rgb(240 240 255);
  --light-blue: rgb(180 180 240);
  --dark-blue: rgb(90 90 150);
  --darkest-blue: rgb(0 0 30);
  --lightest-gray: rgb(240 240 240);
  --lighter-gray: rgb(210 210 210);
  --gray: rgb(120 120 120);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: var(--darkest-blue);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  border: 1px solid var(--lightest-gray);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75rem;
  height: 60px;
  justify-content: center;
}

footer > a {
  height: 40px;
  width: 200px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  opacity: 0.4;
  transition: opacity 250ms ease;
}

input:focus::placeholder {
  opacity: 0;
}

label {
  user-select: none;
  width: fit-content;
}

legend {
  padding: 0 10px;
}

li {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 2px 10px 2px 30px;
  transition: opacity 200ms ease;
}

main {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 480px;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60px;
}

section {
  display: flex;
  flex-direction: column;
  height: 540px;
  justify-content: space-between;
  min-width: 480px;
  padding: 0 5px 5px;
}

select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

ul {
  height: 350px;
  overflow-y: scroll;
}

.columns {
  display: grid;
  grid-template-columns: 190px 280px;
  padding-top: 60px;
  position: relative;
}

.default-button {
  background-color: var(--dark-blue);
  border-radius: 2px;
  color: white;
  height: 40px;
  width: 80px;
}

.default-input {
  font-size: 0.9rem;
  height: 30px;
  padding: 0 5px;
  width: 100px;
}

.default-select {
  font-size: 0.9rem;
  height: 30px;
  width: 100%;
}

.font-button {
  background: transparent;
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  text-align: start;
  transition: background-color 250ms ease;
  width: 100%;
}

.font-button:hover {
  background-color: var(--lightest-gray);
}

.font-button.selected {
  background-color: var(--lightest-blue);
}

.horizontal-fieldset {
  gap: 5px;
}

.horizontal-fieldset > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.horizontal-fieldset > div:first-of-type > div {
  display: flex;
  flex-grow: 10;
  justify-content: space-evenly;
}

.icon-button {
  background-color: transparent;
  height: 16px;
  width: 16px;
}

.icon-button > .material-symbols-outlined {
  color: var(--red);
  font-size: 1rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-button > .material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading::before {
  animation: loading 500ms linear infinite;
  aspect-ratio: 1;
  border: 4px solid;
  border-color: var(--gray) transparent var(--gray) transparent;
  border-radius: 50%;
  content: '';
  width: 30px;
}

.main-input {
  border: none;
  border-bottom: 1px solid var(--lightest-gray);
  font-size: 1.25rem;
  height: 40px;
  left: 20px;
  padding: 0 10px;
  position: absolute;
  top: 10px;
  width: 430px;
}

.nav-button {
  background-color: var(--lightest-gray);
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%) inset;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: background-color 500ms ease, box-shadow 500ms ease;
}

.nav-button.selected {
  background-color: white;
  box-shadow: 0 8px 0 0 var(--light-blue) inset;
}

.vertical-fieldset + label {
  padding: 0 11px;
  width: 100%;
}

.vertical-fieldset > label:nth-last-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

#selector-input {
  width: 200px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
